<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Umfragen
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addEvent()">
        <ion-icon 
        name="add">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let survey of surveyArray" (click)="openDetailsWithState(survey)"> 
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="help"></ion-icon>
        {{survey.name}}
      </ion-card-title>
    <ion-card-content>
      <ion-card-subtitle>
        {{survey.description}}
      </ion-card-subtitle>
      <ion-item no-lines>
        <ion-label>Bis zum: </ion-label>
        <ion-datetime [disabled] display-format="DD/MM/YYYY" [(ngModel)]="survey.lastDate"></ion-datetime>
      </ion-item>
    </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
