.item-padding{
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
}
// .item-center{
//     display: flex;

// }
// .flex {
//     display: flex;
// }
// .alignRight{
//     margin: auto;
// }